[Desktop Entry]
Name=Morning
Exec=/home/mobian/bin/start_alarm.sh
Path=/home/mobian/bin/
Type=Application
Icon=/home/mobian/bin/morning.png
Comment=Set home wakeup alarm
Keywords=Alarm;Morning;Wakeup;
Categories=Utility;
